<!-- Card Tools -->
<div class="card-tools">
  <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse" data-bs-toggle="tooltip" title="Collapse">
    <i class="fa fa-minus"></i>
  </button>
  <button type="button" class="btn btn-tool" data-lte-toggle="card-remove" data-bs-toggle="tooltip" title="Remove">
    <i class="fa fa-times"></i>
  </button>
</div>
