<!-- Sidebar Brand -->
<div class="sidebar-brand">
  <a href="/" class="brand-link">
    <img src="/favicon.ico" alt="FOG Logo" class="brand-image opacity-75 shadow">
    <span class="brand-text fw-light">FOG Project</span>
  </a>
</div>
