<!-- AdminLTE 4 sidebar -->
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
  <%- partial('./logo.ejs') %>
  <div class="sidebar-wrapper">
    <%- partial('./sidebar.ejs') %>
  </div>
</aside>
