<!-- AdminLTE 4 header -->
<nav class="app-header navbar navbar-expand bg-body">
  <div class="container-fluid">
    <%- partial('./leftnavbar-links.ejs') %>
    <%- partial('./rightnavbar-links.ejs') %>
  </div>
</nav>
