<!-- Right navbar links -->
<ul class="navbar-nav ms-auto">
  <% if (req.user) { %>
  <li class="nav-item">
    <a class="nav-link" href="<%= (req.user.isLocalAuth ? '/user/me' : '#') %>">
      <i class="fa fa-user"></i> <%= req.user.displayName || req.user.username %>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/account">
      <i class="fa fa-key"></i> Account
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">
      <i class="fa fa-sign-out"></i> Logout
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/login">
      <i class="fa fa-sign-in"></i> Login
    </a>
  </li>
  <% }%>
</ul>
