<!-- Right navbar links -->
<ul class="navbar-nav ml-auto">
  <% if (req.user) { %>
  <!-- Notifications Dropdown Menu -->
  <li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
      <i class="fa fa-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">
      <i class="fa fa-sign-out"></i> Logout
    </a>
  </li>
  <% } else { %>
  <li class="nav-item">
    <a class="nav-link" href="/login">
      <i class="fa fa-sign-in"></i> Login
    </a>
  </li>
  <% }%>
</ul>
