<section class="content-header">
  <div class="container-fluid">
    <div class="col-sm-6">
      <h1><%= header %></h1>
    </div>
  </div>
</section>
<secion class="content">
  <div class="container-fluid">
    <div class="row">
    </div>
  </div>
</section>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
